---
import Layout from "@layouts/Layout.astro";
import "@styles/BlogsSection.scss";
import BlogData from "../../data/posts.json";
import IBC from "@assets/logos/real/tur.png";
import CARE from "@assets/logos/real/care.png";
import GP from "@assets/logos/real/gp.png";
import Charc from "@assets/logos/real/charc.png";
import GLE from "@assets/logos/real/gle.png";
import Sofi from "@assets/logos/real/sofi.png";
import Taxin from "@assets/logos/real/taxin.png";
import Arth from "@assets/logos/real/arth.png";

export async function getStaticPaths() {
  //   const response = await fetch('../../data/posts.json');
  //   const data = await response.json();

  return BlogData.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}
function cleanText(html: any) {
  return html
    .replace(/\[&hellip;]/g, "")
    .replace(/&hellip;/g, "")
    .replace(/&[^;]+;/g, "")
    .replace(/<[^>]*>/g, "")
    .trim();
}

const { slug } = Astro.params;
const { post } = Astro.props;

const date = new Date(post.date);
post.date = date.toLocaleDateString("en-GB", {
  day: "2-digit",
  month: "short",
  year: "numeric",
});

const html = post.content;
const headings = [...html.matchAll(/<h2[^>]*>(.*?)<\/h2>/gi)].map((m) =>
  m[1].replace(/&[^;]+;/g, ""),
);

const rawSections = html.split(/<h2[^>]*>/i);
const introHTML = rawSections.shift();

const sections = rawSections.map((sectionHTML) => {
  const headingMatch = sectionHTML.match(/^(.*?)<\/h2>/i);
  const heading = headingMatch ? headingMatch[1].trim() : "";
  const content = sectionHTML.replace(/^(.*?)<\/h2>/i, "").trim();

  return {
    heading,
    content,
  };
});

const shareTitle = post.title;

// Current canonical URL of the page:
const url = new URL(Astro.request.url).toString();

// Optional: short excerpt or whatever
const text = `Check this out: ${shareTitle}`;

// Encode for query params:
const e = encodeURIComponent;

const mailto = `mailto:?subject=${e(shareTitle)}&body=${e(`${text}\n\n${url}`)}`;

// X (Twitter)
const xShare = `https://twitter.com/intent/tweet?text=${e(shareTitle)}&url=${e(url)}`;

// LinkedIn
const linkedInShare = `https://www.linkedin.com/sharing/share-offsite/?url=${e(url)}`;

// Facebook
const facebookShare = `https://www.facebook.com/sharer/sharer.php?u=${e(url)}`;

const Boxclients = [
  { name: "iBC", logo: IBC.src, alt: "iBC Logo" },
  { name: "BLANC", logo: GP.src, alt: "Blanc Logo" },
  { name: "Carehires", logo: CARE.src, alt: "Carehires Logo" },
  { name: "Charc", logo: Charc.src, alt: "Charc Logo" },
  { name: "GLE", logo: GLE.src, alt: "GLE Logo" },
  { name: "Sofi", logo: Sofi.src, alt: "Sofi Logo" },
  { name: "Taxin", logo: Taxin.src, alt: "Taxin Logo" },
  { name: "Arth", logo: Arth.src, alt: "Arth Logo" },
];
---

<Layout
  title={post.title + " - Your Team In Asia"}
  description={cleanText(post.excerpt)}
>
  <section class="blog-post-section py-20 px-6 md:px-20">
    <div
      class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-[4fr_2fr] gap-16"
    >
      <!-- Main Content -->
      <article>
        <!-- Breadcrumb -->
        <nav class="mb-6 breadcumb flex items-center">
          <a href="/blog" class="hover:text-[#3B3BE3]">Blogs</a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
          >
            <path
              d="M7.42505 16.6004L12.8584 11.1671C13.5 10.5254 13.5 9.47539 12.8584 8.83372L7.42505 3.40039"
              stroke="#646464"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <span class="ml-1">{post.title}</span>
        </nav>

        <!-- Title -->
        <h1 class="leading-tight mb-4">
          {post.title}
        </h1>
        <p class="font-secondary text-[#0C1715]/70 mb-6 max-w-2xl">
          {cleanText(post.excerpt)}
        </p>

        <!-- Blog Content -->
        <div class="leading-relaxed space-y-8 text-[15px]">
          {
            sections.map((section) => (
              <section class="article-content">
                <h2
                  class="font-semibold text-[#0C1715] text-lg mb-2"
                  id={section.heading.toLowerCase().replace(/\s+/g, "-")}
                >
                  {section.heading}
                </h2>
                <div set:html={section.content} />
              </section>
            ))
          }
        </div>
      </article>
      <!-- Sidebar -->
      <aside class="hidden lg:block">
        <div class="sticky top-24 space-y-10">
          <!-- Table of Contents -->
          <div class="box-wrapper">
            <div>
              <h3 class="text-[#0C1715] mb-4 tracking-wide">Contents</h3>
              <ul class="space-y-2 side-bar-title">
                {
                  headings.map((title, idx) => (
                    <li>
                      <a
                        href={`#${title.toLowerCase().replace(/\s+/g, "-")}`}
                        class={`transition ${idx === 0 ? "active" : ""}`}
                      >
                        {title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </div>

            <div class="divider"></div>

            <!-- Share Section -->
            <div>
              <h3 class="mb-4 tracking-wide">Share this article</h3>
              <div class="flex gap-4 text-[#0C1715]/70 text-lg">
                <a href={facebookShare} target="_blank" aria-label="Facebook">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="21"
                    viewBox="0 0 20 21"
                    fill="none"
                  >
                    <path
                      d="M9.9998 0.500488C4.47711 0.500488 0 4.99413 0 10.5372C0 15.244 3.22874 19.1937 7.58425 20.2785V13.6044H5.52229V10.5372H7.58425V9.21558C7.58425 5.79948 9.12462 4.21609 12.4662 4.21609C13.0997 4.21609 14.1929 4.34094 14.6401 4.4654V7.24557C14.4041 7.22068 13.9941 7.20824 13.4849 7.20824C11.8454 7.20824 11.2118 7.83172 11.2118 9.45245V10.5372H14.4781L13.9169 13.6044H11.2118V20.5005C16.1633 19.9003 20 15.6688 20 10.5372C19.9996 4.99413 15.5225 0.500488 9.9998 0.500488Z"
                      fill="#111827"></path>
                  </svg>
                </a>
                <a href={linkedInShare} target="_blank" aria-label="LinkedIn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="21"
                    viewBox="0 0 20 21"
                    fill="none"
                  >
                    <path
                      d="M18.3332 3.39248V17.6082C18.3332 17.9332 18.2041 18.2449 17.9742 18.4747C17.7444 18.7045 17.4327 18.8337 17.1077 18.8337H2.89199C2.56697 18.8337 2.25527 18.7045 2.02544 18.4747C1.79562 18.2449 1.6665 17.9332 1.6665 17.6082V3.39248C1.6665 3.06746 1.79562 2.75575 2.02544 2.52593C2.25527 2.29611 2.56697 2.16699 2.89199 2.16699H17.1077C17.4327 2.16699 17.7444 2.29611 17.9742 2.52593C18.2041 2.75575 18.3332 3.06746 18.3332 3.39248V3.39248ZM6.56846 8.53954H4.11748V16.3827H6.56846V8.53954ZM6.78905 5.84346C6.79035 5.65807 6.75511 5.47423 6.68535 5.30245C6.61559 5.13067 6.51268 4.97432 6.3825 4.84231C6.25231 4.71031 6.0974 4.60524 5.92661 4.5331C5.75582 4.46097 5.57249 4.42318 5.38709 4.42189H5.34297C4.96595 4.42189 4.60437 4.57167 4.33777 4.83826C4.07118 5.10486 3.92141 5.46644 3.92141 5.84346C3.92141 6.22049 4.07118 6.58207 4.33777 6.84866C4.60437 7.11526 4.96595 7.26503 5.34297 7.26503V7.26503C5.52838 7.26959 5.71288 7.23758 5.88591 7.17081C6.05894 7.10405 6.21712 7.00384 6.35141 6.87592C6.4857 6.74801 6.59348 6.59488 6.66857 6.4253C6.74366 6.25571 6.7846 6.07299 6.78905 5.88758V5.84346ZM15.8822 11.618C15.8822 9.26013 14.3822 8.34346 12.892 8.34346C12.4041 8.31903 11.9183 8.42295 11.4831 8.64487C11.0478 8.86678 10.6784 9.19892 10.4116 9.60817H10.343V8.53954H8.03905V16.3827H10.49V12.2111C10.4546 11.7839 10.5892 11.3599 10.8645 11.0313C11.1399 10.7027 11.5338 10.4961 11.9606 10.4562H12.0538C12.8332 10.4562 13.4116 10.9464 13.4116 12.1817V16.3827H15.8626L15.8822 11.618Z"
                      fill="#111827"></path>
                  </svg></a
                >
                <a href={mailto} target="_blank" aria-label="LinkedIn">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M13.0601 10.9404C15.3101 13.1904 15.3101 16.8304 13.0601 19.0704C10.8101 21.3104 7.17009 21.3204 4.93009 19.0704C2.69009 16.8204 2.68009 13.1804 4.93009 10.9404"
                      stroke="#292D32"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M10.59 13.4099C8.24996 11.0699 8.24996 7.26988 10.59 4.91988C12.93 2.56988 16.73 2.57988 19.08 4.91988C21.43 7.25988 21.42 11.0599 19.08 13.4099"
                      stroke="#292D32"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg></a
                >
              </div>
            </div>
          </div>

          <div class="box-wrapper">
            <div class="about-carde rounded-2xl text-left">
              <!-- Logo -->
              <div class="flex items-center gap-3 mb-6">
                <div
                  class="w-10 h-10 rounded-md bg-[#3B3BE3] flex items-center justify-center"
                >
                </div>
              </div>

              <!-- Content -->
              <div>
                <h3
                  class="font-primary text-[#0C1715] text-lg font-semibold mb-2"
                >
                  About us | <span class="font-semibold">Your team in Asia</span
                  >
                </h3>
                <p
                  class="font-secondary text-[#0C1715]/70 text-sm leading-relaxed mb-6"
                >
                  Save up to 70% by offshoring. Hire professionals across Tech,
                  Accounting, Admin, Customer Support, Finance, and more with
                  guaranteed savings.
                </p>
              </div>

              <!-- Stats -->
              <div
                class="grid grid-cols-2 gap-6 mt-6 border-t border-[#E6E6F0] pt-6"
              >
                <div class="text-center">
                  <h4
                    class="font-primary text-[#5271FF] text-3xl font-semibold mb-1"
                  >
                    150+
                  </h4>
                  <p
                    class="font-secondary text-[#0C1715] text-xs tracking-wide uppercase"
                  >
                    Offshore Workforce
                  </p>
                </div>
                <div class="text-center">
                  <h4
                    class="font-primary text-[#5271FF] text-3xl font-semibold mb-1"
                  >
                    30+
                  </h4>
                  <p
                    class="font-secondary text-[#0C1715] text-xs tracking-wide uppercase"
                  >
                    Global Brands
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="box-wrapper">
            <div class="clients-card text-left">
              <!-- Heading -->
              <h3
                class="font-primary text-[#0C1715] text-lg font-semibold mb-3"
              >
                Our clients
              </h3>

              <!-- Description -->
              <p
                class="font-secondary text-[#0C1715]/70 text-sm leading-relaxed mb-8"
              >
                Commitment to excellence and deep understanding of a wide range
                of sectors showcased. Clients across the UK, UAE, Tanzania, and
                more.
              </p>

              <!-- Logos -->

              <div class="swiper client-logo">
                <div class="swiper-wrapper">
                  {
                    Boxclients.map((client) => (
                      <div class="swiper-slide">
                        <img
                          src={client.logo}
                          alt={client.alt}
                          class="w-32 h-16 grayscale hover:grayscale-0 transition-all duration-300"
                        />
                      </div>
                    ))
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </section>
  <script>
    import Swiper from "swiper";
    import { Autoplay } from "swiper/modules";
    import "swiper/css";

    const swiperBlog = new Swiper(".client-logo", {
      modules: [Autoplay],
      loop: true,
      spaceBetween: 20,
      speed: 3000,
      slidesPerView: "auto",
      autoplay: {
        delay: 0,
        disableOnInteraction: false,
      },
      breakpoints: {
        640: { slidesPerView: 3 },
        1024: { slidesPerView: 3 },
      },
    });
  </script>
  <script is:inline>
    const links = document.querySelectorAll(".side-bar-title a");
    const sections = document.querySelectorAll(".article-content h2");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const id = entry.target.id;

            links.forEach((link) => link.classList.remove("active"));

            const activeLink = document.querySelector(
              `.side-bar-title a[href="#${id}"]`,
            );
            if (activeLink) {
              activeLink.classList.add("active");
            }
          }
        });
      },
      {
        root: null,
        threshold: 0.5,
        rootMargin: "-80px 0px -65% 0px",
      },
    );

    sections.forEach((section) => observer.observe(section));
  </script>
</Layout>
